* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-black: #000;
  --color-purple: #0b1322;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
}

body {
  font-family: 'Arial', sans-serif;
  background: #000;
  color: var(--color-white);
}

nav {
  position: relative; /* Ensure position is set to make z-index work */
  z-index: 1000; /* High z-index to make sure it stays on top of other content */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding: 1rem 2rem;
  background: #070c15;
  border: 1px solid #0b1423;
  border-radius: 1.35rem;
  backdrop-filter: blur(104px);
}


.brand-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.brand-logo__text-wrapper img {
  width: 150px;
}

.toggle-button-wrapper {
  display: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li {
  font-size: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--color-light-blue);
}

@media only screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    /* background-color: rgba(42, 43, 56, 0.95); */
    background-color: rgb(15, 15, 23);
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
    display: none;
    border-radius: 0 0 1rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .toggle-button-wrapper {
    display: block;
  }

  .toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .toggle-button svg path {
    stroke: var(--color-gray);
  }

  .toggle-button:hover svg path {
    stroke: var(--color-light-blue);
    transition: stroke 0.3s ease;
  }
}

  

/* Projects Section */
.projects-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 24px;
  background: #070c15;
  border: 1px solid #0b1423;
  border-radius: 12px;
}

.projects-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.projects-intro {
  text-align: center;
  margin-bottom: 40px;
}

.projects-intro p {
  color: #d1d5db;
  font-size: 1.125rem;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-with: 600px) {
  .filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.filter-btn {
  background: #0b1322;
  border: 1px solid #0b1423;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
  background: #0e1a31;
  border: 1px solid #0b1423;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
position: relative;
display: flex;
flex-direction: column;
height: 380px;
min-height: 380px;
/* width: 20rem;  */
border-radius: 1rem; /* rounded-xl */
background: #070c15;
border: 1px solid #0b1423;
color: #4a5568; /* text-gray-700 */
}

.card-header {
position: relative;
margin: -1.5rem 1rem 0; /* -mt-6, mx-4 */
height: 10rem; /* h-40 */
overflow: hidden;
border-radius: 1rem; /* rounded-xl */
background: linear-gradient(to right, #3b82f6, #2563eb); /* from-blue-500 to-blue-600 */
color: #ffffff; /* text-white */
/* background-image: url("../img/cineflix.png"); */
/* width: 100%; */
background-position: center;
background-size: cover;
/* box-shadow: 0 4px 6px rgba(37, 99, 235, 0.4), 0 1px 3px rgba(37, 99, 235, 0.4);  */
}

.img-1 {
background-image: url("/static/img/e-commerce.png");
background-size: cover;
background-position: center;
}

.img-2 {
background-image: url("./static/img/pet.png");
background-size: cover;
background-position: center;
}

.img-3 {
background-image: url("./static/img/tween.png");
background-size: cover;
background-position: center;
}

.img-4 {
background-image: url("./static/img/pexels.png");
background-size: cover;
background-position: center;
}

.img-5 {
background-image: url("./static/img/cineflix.png");
background-size: cover;
background-position: center;
}

.img-6 {
background-image: url("./static/img/Pixplore.png");
background-size: cover;
background-position: center;
}

.img-7 {
background-image: url("./static/img/clevergen.png");
background-size: cover;
background-position: center;
}

.img-8 {
background-image: url("./static/img/ecommerce.png");
background-size: cover;
background-position: center;
}

.card-body {
padding: 1.5rem; /* p-6 */
}

.card-title {
margin-bottom: 0.5rem; /* mb-2 */
font-family: sans-serif;
font-size: 1.25rem; /* text-xl */
font-weight: 600; /* font-semibold */
line-height: 1.375; /* leading-snug */
color: #fff; /* text-blue-gray-900 */
}

.card-text {
font-family: sans-serif;
font-size: 1rem; /* text-base */
font-weight: 300; /* font-light */
line-height: 1.625; /* leading-relaxed */
color: inherit; /* text-inherit */
}

.card-footer {
padding: 1.5rem 1.5rem 0; /* p-6 pt-0 */
}

.card-button {
display: inline-block;
padding: 0.75rem 1.5rem; 
border-radius: 0.5rem; /* rounded-lg */
font-family: sans-serif;
font-size: 0.75rem; /* text-xs */
font-weight: 700; /* font-bold */
text-transform: uppercase; /* uppercase */
color: #ffffff; /* text-white */
background: #0b1322;
border: 1px solid #0b1423;
text-align: center;
transition: all 0.2s ease-in-out; /* transition-all */
cursor: pointer;
}

.card-button:hover {
box-shadow: 0 6px 8px rgba(59, 130, 246, 0.4); /* hover:shadow-lg */
}

.card-button:focus,
.card-button:active {
opacity: 0.85;
box-shadow: none;
}

.card-button:disabled {
pointer-events: none;
opacity: 0.5;
box-shadow: none;
}

